body{
margin:0;
font-family:Arial;
background:#f5f3ff; 
color:#000; 
}

h1{
text-align: center;
margin-top: 20px;
}

.menu{
position:fixed;
left:0;
top:0;
width:220px;
height:100%;
background:#7b6cf6; 
padding:20px;
}

.menu h2{
color:white;
text-align:center;
}

.menu a{
display:block;
background:#fcfbfd; 
color:black;
text-decoration:none;
padding:10px;
margin:8px 0;
border-radius:6px;
transition:0.3s;
}

.menu a:hover{
background:#b6b6fc; 
color:black;
}

.contenido{
margin-left:240px;
padding:20px;
}

.tarjeta{
background:white;
padding:20px;
margin:20px auto;
width:60%;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
text-align:center;
}

button{
background:#7b6cf6; 
color:white;
border:none;
padding:8px;
margin:5px;
border-radius:5px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#a79bff;
color:black;
}

input{
padding:8px;
margin:5px;
width:80%;
border:1px solid #ccc;
border-radius:5px;
}
