body{
margin:0;
font-family:'Segoe UI', Arial, sans-serif;
background:#f4f6f9;
color:#333;
text-align:center;
}

h1{
margin-top:30px;
color:#d63384;
font-weight:600;
}

body{
display:flex;
flex-direction:column;
align-items:center;
}

.tarjeta{
background:white;
width:100%;
max-width:360px;
margin:20px;
padding:25px;
border-radius:12px;
box-shadow:0 6px 18px rgba(0,0,0,0.08);
transition:all 0.2s;
}

.tarjeta:hover{
transform:translateY(-4px);
box-shadow:0 10px 22px rgba(0,0,0,0.15);
}

h2{
color:#444;
margin-bottom:15px;
}

button{
padding:8px 16px;
margin:6px;
border:none;
border-radius:6px;
background:#ff4f87;
color:white;
font-weight:500;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#e83e6f;
}

input{
padding:8px;
width:90%;
max-width:260px;
border-radius:6px;
border:1px solid #ddd;
margin-top:5px;
font-size:14px;
}

input:focus{
outline:none;
border-color:#ff4f87;
box-shadow:0 0 4px rgba(255,79,135,0.4);
}

ul{
list-style:none;
padding:0;
}

li{
background:#f8f9fc;
margin:6px;
padding:10px;
border-radius:6px;
border-left:4px solid #ff4f87;
}

p{
font-weight:500;
color:#555;
}

.menu{
position: fixed;
left: 0;
top: 0;
width: 200px;
height: 100%;
background: #cc5e95;
padding: 20px;
}

.menu h3{
color: white;
}

.menu a{
display: block;
color: rgb(9, 0, 0);
text-decoration: none;
padding: 10px;
margin: 5px 0;
background: #fefdfd;
border-radius: 5px;
}

.menu a:hover{
background: #e7a4c5;
}

body{
margin-left:220px;
}