<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CRUD Productos</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-primary shadow">
    <div class="container">
        <span class="navbar-brand mb-0 h1">Sistema Productos</span>
    </div>
</nav>

<!-- MENU -->
<div class="container mt-3">
    <a href="#ej1">1. Productos</a>
    <a href="#ej2">2. Usuarios</a>
    <a href="#ej3">3. Carritos</a>
    <a href="#ej4">4. Posts</a>
</div>

<!-- SECCIÓN PRODUCTOS -->
<div class="container mt-4" id="ej1">
    <div class="card shadow-lg border-0">

        <div class="card-header bg-white">
            <h4 class="mb-0">Lista de Productos</h4>
        </div>

        <div class="card-body">

            <!-- FORMULARIO -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <input id="inputId" type="text" class="form-control" placeholder="ID">
                </div>
            </div>

            <!-- BOTONES -->
            <div class="row mb-3">
                <div class="col-md-3 d-grid">
                    <button class="btn btn-success" onclick="getAllProducts()">Consultar</button>
                </div>
                <div class="col-md-3 d-grid">
                    <button class="btn btn-primary" onclick="createProduct()">Crear</button>
                </div>
                <div class="col-md-3 d-grid">
                    <button class="btn btn-warning" onclick="updateProduct()">Actualizar</button>
                </div>
                <div class="col-md-3 d-grid">
                    <button class="btn btn-danger" onclick="deleteProduct()">Eliminar</button>
                </div>
            </div>

            <!-- TABLA -->
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-primary text-center">
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody id="container" class="text-center">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<!-- JS -->
<script src="../js/const.js"></script>
<script src="../js/utils.js"></script>
<script src="../js/api.js"></script>
<script src="../js/products.js"></script>

</body>
</html>